#monitor01pep-form
{
	float: left;
	font-family: Helvetica;
	font-size: 12px;
	width: 72%;
	/*border-style:dashed;*/
}
/*
#monitor01pep-form label {
  float:left;
  width:190px;
  text-align:right;
  padding-right:10px;
}
*/
#monitor01pep-form textarea, #monitor01pep-form .form-text { 
  width:150px;
}

#monitor01pep-form .description, #monitor01pep-form .grippie, #monitor01pep-form .form-submit {
  float:right;
  margin-right:20px;
  width:200px;
}

